* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============= common ============== */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    border-radius: 999px;
    background: var(--primary-color);
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ============= common ============== */

/* ============= navbar ============== */
.header {
    background-color: #fffcf4;
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .row {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar .list-nav {
    display: flex;
    align-items: center;
}

.navbar .list-nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.navbar .active a::before {
    position: absolute;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.navbar .active a,
.navbar a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .action {
    margin-left: 49px;
}

.btn-cta-signup {
    min-width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    background: #171100;
}
/* ============= navbar ============== */

/* ============= hero ============== */

/* hero left */
.hero {
    min-height: calc(100vh - 94px);
    padding-top: 56px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item:not(:first-child) {
    margin-top: 14px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
}

.hero-cta {
    min-width: 180px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 64px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    background: transparent;
    border: none;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block .stat {
    margin: 8px 0 0 -28px;
}

.hero .stat strong {
    padding: 0 12px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ============= hero ============== */

/* ============= courses ============== */

.courses {
    margin-top: 135px;
    padding: 65px 0;
}

.courses-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-top .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.courses-top .control {
    display: flex;
    gap: 18px;
}

.courses-top .control-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
}

.courses-top .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.courses-bot {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses-bot .item {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.courses-bot .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses-bot .head {
    margin: 16px 22px 0;
}

.courses-bot .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-bot .head,
.courses-bot .foot,
.courses-bot .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-bot .rating .values {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.courses-bot .desc {
    margin: 6px 22px 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses-bot .foot {
    margin: 12px 22px 22px;
}

.courses-bot .prices {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-bot .book-btn {
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
    background: #171100;
    border: none;
}

.courses-bot .book-btn:hover {
    background-color: var(--primary-color);
}

/* ============= courses ============== */
